/* =========================
   Tabelel Positionen
   ========================= */
.table-view {
       -fx-background-color: #2F4F4F;
       -fx-border-color: transparent #3a6a6a #3a6a6a transparent;
       -fx-border-radius: 6;
       -fx-background-radius: 6;
   }
   .table-view .table-cell {
       -fx-text-fill: white;
	   /*-fx-border-color: transparent #3a6a6a #3a6a6a transparent;*/
	   -fx-border-color: transparent rgba(255,255,255,0.15) rgba(255,255,255,0.1) transparent;
   }

   /* =========================
      ZEILEN
      ========================= */
   .table-row-cell {
       -fx-background-color: #2F4F4F;
   }

   /* Zebra */
   .table-row-cell:odd {
       -fx-background-color: #3A6161;

   }


/* =========================
   HOVER (WICHTIG: kein Konflikt mit Selection!)
   ========================= */
.table-row-cell:hover:not(:selected) {
    -fx-background-color: #444444;/*#dbe9f6;Hintergrund, wenn focus */
}

/* Text bei Hover */
.table-row-cell:hover:not(:selected) .table-cell {
    -fx-text-fill: white;
}

/* =========================
   OPTIONAL: stärkere Selection
   ========================= */
.table-row-cell:selected {
    -fx-background-color: #000000; /* Hintergrund, wenn selektiert */
}

/* =========================
   OPTIONAL: aktive Zeile (Focus Row Look)
   ========================= */
.table-row-cell:focused {
    -fx-background-color: #3580BB;
}